body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.carousel-caption span {
    text-shadow: 0 1px 4px #222, 1px 0 2px #222;
}

.carousel-inner {
    width: 100%;
    height: 600px;
}

.carousel-inner .item {
    width: 100%;
    height: 100%;
}

.carousel-inner img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}
